<div class="bg-color pt-5 pb-5">
    <div class="container">
        <div class="row text-light">
            <div class="col-4">
                <img src="../../../assets/img/logo.png" alt="" width="212.8" height="63.2">
                <p>Quisque eu tristique nibh, non suscipit urna. Sed euismod nisl ultrices, finibus diam a, semper mauris. Fusce sagittis vel dui quis tristique. Nunc fermentum libero malesuada leo eleifend suscipit. Pellentesque finibus nisi at tempus tincidunt. Sed id accumsan dui, quis tristique turpis. In aliquam blandit eros sit amet convallis. Nam.</p>
            </div>
            <div class="col-4">
                <h3>Contacto</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-color text-light"><i class="bi-whatsapp"></i> 316 415 86 59</li>
                    <li class="list-group-item bg-color text-light"><i class="bi-telephone"></i> + 60 1 2012770</li>
                    <li class="list-group-item bg-color text-light"><i class="bi-envelope"></i> cigarreria_tibana@gmail.com</li>
                    <li class="list-group-item bg-color text-light"><i class="bi-signpost"></i> 03, Cra. 41 #4B, Puente Aranda, Bogotá</li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Donde estamos ubicados</h3>
                <img src="../../../assets/img/mapa.png" alt="" height="200">
            </div>
        </div>
    </div>
</div>