<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container">
        <a class="navbar-brand me-5" routerLink="/home">
            <img src="../../../assets/img/logo.png" alt="" width="159.6" height="47.4">
            <!--53.2 , 15.8-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-5">
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link" routerLink="/home">Inicio</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-custom" type="submit"><i class="bi-search"></i></button>
            </form>
            <ul class="navbar-nav ms-5">
                <a class="nav-link" routerLink="/cart">
                    <button type="button" class="btn btn-outline-custom">
                        <i class="bi-cart2 me-2"></i>Carrito
                    </button>
                </a>
                <a class="nav-link">
                    <button type="button" class="btn btn-outline-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Iniciar Sesión
                    </button>
                </a>
            </ul>
        </div>
    </div>
</nav>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-light">

                <div class="text-center mt-3 mx-auto" style="max-width: 50rem; border: 0;">
                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-8">
                            <img src="../../../assets/img/logo.png" alt="" width="212.8" height="63.2">
                        </div>
                        <div class="col-2 p-2">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <form>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-lg btn-custom">Iniciar Sesión</button>
                        <!--
                        <div class="mt-2">
                            <small class="text-muted"><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></small>
                        </div>
                        -->
                    </form>
                </div>

                <div class="text-center mt-3 mx-auto" style="max-width: 50rem; border: 0;">

                    <p class="card-text">¿No tienes una cuenta aún?</p>
                    <small class="text-muted"><a data-bs-toggle="modal" data-bs-target="#registromodal" class="link-light">Crea una ahora mismo</a></small>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="registromodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-light">
                
                <div class="text-center mt-3 mx-auto" style="max-width: 50rem; border: 0;">

                    <div class="row">
                        <div class="col-2">

                        </div>
                        <div class="col-8">
                            <img src="../../../assets/img/logo.png" alt="" width="212.8" height="63.2">
                        </div>
                        <div class="col-2 p-2">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <form>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombres">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellidos">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Documento de identidad</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="1000100100">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Direccion de residencia</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Cll 101 #10-01">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-lg btn-custom">Registrarse</button>
                        <!--
                        <div class="mt-2">
                            <small class="text-muted"><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></small>
                        </div>
                        -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>