.bg-custom {
    background-color: #90583D;
}

.btn-outline-custom {
    color: #FFEED0;
    background-color: transparent;
    background-image: none;
    border-color: #FFEED0;
}

.btn-outline-custom:hover {
    color: #331f15;
    background-color: #FFEED0;
    border-color: #FFEED0;
}

.btn-custom {
    color: #331f15;
    background-color: #FFEED0;
    border-color: #FFEED0;
}

.btn-custom:hover {
    color: #331f15;
    background-color: #d6c8ae;
    border-color: #d6c8ae;
}

.modal-body {
    background-image: url("../../../assets/img/FondoTibana.png");
    background-size: cover;
    background-color: rgba(14, 6, 2, 0.863);
}

input,
input:hover,
input:active,
input:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: #ffeed034;
    color: #fcfcfc;
}

::placeholder {
    color: #eeeeee;
  }