<div class="card shadow mb-3 mt-2">
    <div class="card-body">
        Categorias
    </div>
</div>

<div class="list-group shadow">
    <a href="#" class="list-group-item list-group-item-action active">Todos los productos</a>
    <a href="#" class="list-group-item list-group-item-action">Productos nuevos</a>
    <a href="#" class="list-group-item list-group-item-action">Cerveza</a>
    <a href="#" class="list-group-item list-group-item-action">Tequila</a>
    <a href="#" class="list-group-item list-group-item-action">Vodka</a>
    <a href="#" class="list-group-item list-group-item-action">Ron</a>
    <a href="#" class="list-group-item list-group-item-action">Vino</a>
    
</div>