<div class="row justify-content-center mt-5 mb-4">
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="../../../../assets/img/icons/beer.png" alt="" class="rounded-circle" height="125">
            <br>
            <br>
            <div class="h4">Cerveza</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="../../../../assets/img/icons/tequila.png" alt="" class="rounded-circle" height="125">
            <br>
            <br>
            <div class="h4">Tequila</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="../../../../assets/img/icons/vodka.png" alt="" class="rounded-circle" height="125">
            <br>
            <br>
            <div class="h4">Vodka</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="../../../../assets/img/icons/ron.png" alt="" class="rounded-circle" height="125">
            <br>
            <br>
            <div class="h4">Ron</div>
        </button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-custom ">
            <img src="../../../../assets/img/icons/wine-bottle.png" alt="" class="rounded-circle" height="125">
            <br>
            <br>
            <div class="h4">Vino</div>
        </button>
    </div>
</div>





<!--
<div class="card shadow mb-3 mt-2">
    <div class="card-body">
        Categorias
    </div>
</div>

<div class="list-group shadow">
    <a href="#" class="list-group-item list-group-item-action active">Todos los productos</a>
    <a href="#" class="list-group-item list-group-item-action">Productos nuevos</a>
    <a href="#" class="list-group-item list-group-item-action">Cerveza</a>
    <a href="#" class="list-group-item list-group-item-action">Tequila</a>
    <a href="#" class="list-group-item list-group-item-action">Vodka</a>
    <a href="#" class="list-group-item list-group-item-action">Ron</a>
    <a href="#" class="list-group-item list-group-item-action">Vino</a>
    
</div>
-->