.card {
    border: 0;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
}

.btn-custom {
    color: #1b1b1b;
    background-color: rgba(0, 0, 0, 0);
}

.btn-custom:hover {
    color: #1b1b1b;
    background-color: rgba(0, 0, 0, 0.055);
}

img {
    border: 1px dashed #1b1b1b;
}