<div class="card text-center mt-3 mx-auto shadow-sm" style="max-width: 50rem; border: 0;">
    <div class="card-body">
        <div class="m-2">
            <img src="../../../assets/img/logo.png" alt="" width="212.8" height="63.2">
        </div>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi-at"></i></span>
                <input type="text" class="form-control" placeholder="Correo Electronico" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi-key-fill"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

            <div class="mt-2">
                <small class="text-muted"><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></small>
            </div>
        </form>
    </div>
</div>

<div class="card text-center mt-3 mx-auto shadow-sm" style="max-width: 50rem; border: 0;">
    <div class="card-body">
        <p class="card-text">¿No tienes una cuenta aún?</p>
        <small class="text-muted"><a routerLink="/forgot-password">Crea una ahora mismo</a></small>
    </div>
</div>