<div class="container">
    <div class="mt-4 mb-4 fs-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Resumen de compra</li>
                <li class="breadcrumb-item active">Pago y envio</li>
                <li class="breadcrumb-item">Pedido confirmado</li>
            </ol>
        </nav>
    </div>

    <hr>

    <h3 class="fw-bold">Finalizar la compra</h3>
    <hr>

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div *ngIf="personalInfoToggle" class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Información Personal</h4>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-link fw-bold text-custom" [disabled]="personalInfoToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <form class="fs-5">
                        <div class="mb-3 text-start">
                            <label for="nombresPago" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nombresPago" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="apellidosPago" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellidosPago" placeholder="">
                        </div>
                        <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Cédula de ciudadanía</option>
                            <option value="1">Cédula de extranjería</option>
                            <option value="2">Pasaporte</option>
                        </select>
                        <div class="mb-3 text-start">
                            <label for="numDocumento" class="form-label">Número de documento</label>
                            <input type="number" class="form-control" id="numDocumento" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="numTelefono" class="form-label">Número de telefono</label>
                            <input type="number" class="form-control" id="numTelefono">
                        </div>
                        <button (click)="personal_info()" type="button" class="btn btn-custom fw-bold">Siguiente</button>
                    </form>
                </div>
            </div>
            <div *ngIf="!personalInfoToggle" class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Información Personal</h4>
                        </div>
                        <div class="col-auto">
                            <button (click)="original_state()" type="button" class="btn btn-link fw-bold text-custom" [disabled]="personalInfoToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text text-muted fs-5">Datos personales</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div *ngIf="shippingAddressToggle" class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Dirección de Envío</h4>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-link fw-bold text-custom" [disabled]="shippingAddressToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <form class="fs-5">
                        <div class="mb-3 text-start">
                            <label for="direccionEnvio" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="direccionEnvio" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="casaApto" class="form-label">Casa o Apartamento</label>
                            <input type="text" class="form-control" id="casaApto" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="barrio" class="form-label">Barrio</label>
                            <input type="text" class="form-control" id="barrio" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="nombreRecibe" class="form-label">Nombre de la persona que recibe</label>
                            <input type="text" class="form-control" id="nombreRecibe" placeholder="">
                        </div>
                        <button (click)="shipping_address()" type="button" class="btn btn-custom fw-bold">Siguiente</button>
                    </form>
                </div>
            </div>
            <div *ngIf="!shippingAddressToggle" class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Dirección de Envío</h4>
                        </div>
                        <div class="col-auto">
                            <button (click)="personal_info()" type="button" class="btn btn-link fw-bold text-custom" [disabled]="shippingAddressToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text text-muted fs-5">Datos de envío</p>
                </div>
            </div>

            <div *ngIf="paymentInfoToggle" class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Información de Pago</h4>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-link fw-bold text-custom" [disabled]="paymentInfoToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <label class="fs-5">Metodo de pago</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [checked]="!paymentMethodToggle" (change)="payment_method()">
                        <label class="form-check-label fs-5" for="flexRadioDefault1">
                            Efectivo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [checked]="paymentMethodToggle" (change)="payment_method()">
                        <label class="form-check-label fs-5" for="flexRadioDefault2">
                            Tarjeta de Credito
                        </label>
                    </div>

                    <form *ngIf="paymentMethodToggle" class="fs-5">
                        <div class="mb-3 text-start">
                            <label for="nombresPago" class="form-label">Número de tarjeta</label>
                            <input type="text" class="form-control" id="nombresPago" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="apellidosPago" class="form-label">Nombres y Apellidos</label>
                            <input type="text" class="form-control" id="apellidosPago" placeholder="">
                        </div>
                        <label for="tipoDocumento" class="form-label">Fecha de Vencimiento</label>
                        <div class="row mb-3">
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled>Mes</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled>Año</option>
                                    <option value="1">22</option>
                                    <option value="2">23</option>
                                    <option value="3">24</option>
                                    <option value="4">25</option>
                                    <option value="5">26</option>
                                    <option value="6">27</option>
                                    <option value="7">28</option>
                                    <option value="8">29</option>
                                    <option value="9">30</option>
                                    <option value="10">31</option>
                                    <option value="11">32</option>
                                    <option value="12">33</option>
                                    <option value="13">34</option>
                                    <option value="14">35</option>
                                    <option value="15">36</option>
                                    <option value="16">37</option>
                                    <option value="17">38</option>
                                    <option value="18">39</option>
                                    <option value="19">40</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="numDocumento" class="form-label">Código de Seguridad</label>
                            <input type="number" class="form-control" id="numDocumento" placeholder="">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Documento del propietario de la tarjeta</label>
                            <input type="email" class="form-control" id="email" placeholder="">
                        </div>
                        <button (click)="payment_info()" type="button" class="btn btn-custom fw-bold">Siguiente</button>
                    </form>
                    <form *ngIf="!paymentMethodToggle" class="fs-5 mt-3">
                        <button (click)="payment_info()" type="button" class="btn btn-custom fw-bold">Siguiente</button>
                    </form>
                </div>
            </div>
            <div *ngIf="!paymentInfoToggle" class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title fw-bold">Información de Pago</h4>
                        </div>
                        <div class="col-auto">
                            <button (click)="shipping_address()" type="button" class="btn btn-link fw-bold text-custom" [disabled]="paymentInfoToggle"><i class="bi-pencil-fill"></i> Editar</button>
                        </div>
                    </div>
                    <hr>
                    <p class="card-text text-muted fs-5">Datos de pago</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Resumen del Pedido</h4>
                    <div style="height: 18rem;" class="border scroll-content">
                        <table class="table align-middle fs-5">
                            <tbody>
                                <tr *ngFor="let item of licores.licores.slice(0,3)">
                                    <th scope="row" class="p-3"><img src="{{ item.img }}" class="me-5" height="75" alt="{{ item.name }}">{{ item.name }}</th>
                                    <td class="text-center">{{ item.price | currency }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>

                    <div class="row fs-5">
                        <div class="col">
                            <p class="text-start">Subtotal</p>
                        </div>
                        <div class="col-auto">
                            <p class="text-end">$ 261.800</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p class="text-start">Total</p>
                        </div>
                        <div class="col-auto">
                            <p class="text-end">$ 261.800</p>
                        </div>
                    </div>

                    <hr>

                    <div class="d-grid gap-2">
                        <button routerLink="/purchase" class="btn btn-custom fw-bold" [disabled]="!canPayToggle">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>